:root {
  font-size: 62.5%;
  --red--300: #e44449;
  --red--100: #f15156;
  --red--gradient: linear-gradient(153.09deg, #f36a6f 17.23%, #e44449 73.77%);

  --white: #ffff;
  --gray--200: #d9d9d9;
  --blue--800: #0d3b66;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

.sr-only,
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
body {
  font-size: 1.6rem;
  display: grid;

  font-family: 'Nunito', sans-serif;

  overflow-x: hidden;
}

#app {
  height: 100vh;
  max-width: 50rem;
}

header {
  background: var(--red--100);
  width: 100%;
  height: 72rem;
  margin-block: auto;
}

.brandAndMenu {
  padding: 2rem;

  display: flex;

  justify-content: space-between;
  align-items: center;

  background: var(--red--300);
}

.brandAndMenu button {
  background: var(--white);
  border: none;

  width: 4rem;
  height: 4rem;

  border-radius: 0.9rem;

  cursor: pointer;
}

.brandAndMenu nav::before {
  content: '';
  display: block;

  border-top: solid 1px var(--white);
  width: 90%;

  position: relative;
  top: -2.9rem;
}
.brandAndMenu nav {
  background: var(--red--300);

  width: 99.9%;

  padding: 2.7rem 0 2.7rem 2rem;

  position: absolute;

  top: 8rem;
  right: 0;

  z-index: 1000;

  overflow-y: hidden;

  border-radius: 0 0 3rem 3rem;
}

.brandAndMenu nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.brandAndMenu nav ul li a {
  color: var(--white);
  font-size: 1.8rem;
  line-height: 110%;
  letter-spacing: -0.02em;
}
.brandAndMenu nav ul li a:hover {
  font-weight: 700;
}

#home {
  color: var(--white);
}

.localFriends {
  margin: 5.2rem 0 3.5rem 2.1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.localFriends .friends img {
  transform: translateX(-4px);
  transition: all 0.5s;
}
.localFriends .friends img:hover {
  margin-right: 1.3rem;
}
.localFriends .friends img:nth-child(2) {
  transform: translateX(-21px);
}
.localFriends .friends img:nth-child(3) {
  transform: translateX(-38px);
}
.localFriends .friends img:nth-child(4) {
  transform: translateX(-55px);
}
.localFriends span {
  font-size: 1.4rem;
  line-height: 120%;
}

#home h1 {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 110%;
  letter-spacing: -0.02em;

  text-align: start;

  margin: 0 7.1rem 3.3rem 2.1rem;
}

.dogAndButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  width: 100%;

  position: absolute;
  top: 42rem;

  z-index: 0;
}

.dogAndButton div {
  width: 27.9rem;
  height: 25.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 2rem;

  background: var(--red--gradient);
}
.dogAndButton div:nth-child(1),
.dogAndButton div:nth-child(3) {
  width: clamp(2rem, 3rem, 8rem);
  border-radius: 0 2rem 2rem 0;
  background: var(--red--300);
}
.dogAndButton div:nth-child(3) {
  border-radius: 2rem 0 0 2rem;
}

.dogAndButton div:nth-child(4) {
  position: absolute;
  z-index: 700;
  bottom: 2000rem;
  right: 67px;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: end;

  background: none;
}

.dogAndButton div img {
  position: relative;

  bottom: -1.38rem;
  right: 0;
}
.dogAndButton div button {
  position: relative;

  bottom: 25%;

  padding: 18.33px 77.22px;

  background: var(--white);
  border: none;
  border-radius: 0.8rem;

  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1.5rem;
  text-align: center;

  cursor: pointer;
}

@media (max-width: 352px) {
  .dogAndButton div {
    margin-top: 4rem;
  }
  .dogAndButton div button {
    padding: 18.33px 72px;
  }
}

@media (min-width: 426px) {
  #app {
    height: 100vh;
    max-width: 100%;
  }

  header {
    background: var(--red--100);
    width: 100%;
    height: 82rem;
    margin-block: auto;
  }

  .brandAndMenu {
    padding: 2rem;

    height: 7.2rem;
    max-width: 74.6rem;

    display: flex;

    justify-content: space-between;
    align-items: center;

    background: var(--red--100);
  }
  .dogAndButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    width: 100%;

    position: absolute;
    top: 42rem;

    z-index: 0;
  }

  .dogAndButton div:nth-child(1),
  .dogAndButton div:nth-child(3) {
    width: clamp(10rem, 5em, 12rem);
    border-radius: 0 2rem 2rem 0;
    background: var(--red--300);
  }
  .dogAndButton div:nth-child(3) {
    border-radius: 2rem 0 0 2rem;
  }
  .dogAndButton div button {
    padding: 18.33px 72px;
  }
}

@media (min-width: 590px) {
  #app {
    height: 100vh;
    max-width: 100%;
  }

  header {
    background: var(--red--100);
    width: 100%;
    height: 82rem;
    margin-block: auto;
  }

  .brandAndMenu {
    padding: 2rem;

    height: 7.2rem;
    max-width: 74.6rem;

    display: flex;

    justify-content: space-between;
    align-items: center;

    background: var(--red--100);
  }

  .dogAndButton div {
    margin-top: 4rem;
  }
  .dogAndButton div button {
    padding: 18.33px 72px;
  }
}
